@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.vitrine{
    width: 100%;
    height: 775px;
    background: rgb(240 ,240,240);
    z-index: 2;
    display: inline-block;
}
.textoVitrine{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 15pt;
}
.textoVitrine p{
    margin-top: 0;
    color: rgb(144 ,144,144);
}
.produtosDesktop{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.produto{
    width: 335px;
    height: 430px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.produto:hover .botao{
    z-index: 2;
    
}
.nomeProduto{
    text-align: center;
    font-size: 15pt;
}
.precoNovo{
    text-align: center;
    margin: 0;
    font-size: 15pt;
    color: rgb(247 ,25,99);
}
.botao{
    position: absolute;
    z-index: -1;
    width: 194px;
    height: 43px;
    border-radius: 25px;
    background: rgb(0 ,187,212);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.botao img{

}
.botao p{
    font-size: 18pt;
    color: #FFFFFF;
}
.espaco{
    width: 40px;
}

.slick-prev {
    display: none;
}
.slick-next {
    display: none;
}
.slick-initialized .slick-slide {
    
    /* display: block; */
}
.slick-dots li.slick-active button:before {
    color: rgb(247 ,25,99);
}
.slick-dots li button:before {
    color: rgb(153 ,153,153);
    line-height: 133px;
    font-size: 20px;
}
.promocoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.promocoes h1{
    font-size: 48pt;
    margin-top: 110px;
    margin-bottom: 0px;
    color:rgb(54 ,54,54);
}
.promocoes p{
    font-size: 15pt;
    color:rgb(144 ,144,144);
}
.areaEmail{
    height: 50px;
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 610px;
    border-radius: 25px;
    background:rgb(248 ,248,248);
}
.promocoes input{
    border: none;
    background:rgb(248 ,248,248);
    border-radius: 25px;
    margin-left: 30px;
    font-size: 15pt;
}
.areaEmail span{
    width: 180px;
    height: 50px;
    background:rgb(247 ,25,99);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.carta{
    width: 25px;
}
.fundoCarta{
    width: 23px;
    height: 23px;
    background: #FFFFFF;
}
.areaEmail span p{
    color: #FFFFFF;
}
.aoTopo{
    position: absolute;
    width: 108px;
    height: 72px;
    background: rgb(240 ,240,240);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.aoTopo p{
    font-size: 14pt;
    color: #000000;
    line-height: 1.0;
    margin: 2px;
    font-weight: bold;
}
.mobile{
    display: none;
}
.desktop{
    display: block;
}
.produtosMobile{
    display: none;
}
@media (max-width:700px){
    .textoVitrine h1{
        font-size: 24pt;
    }
    .textoVitrine p{
        font-size: 14pt;
        text-align: center;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .produtosDesktop{
        display: none;
    }
    .produtosMobile{
        display: block;
        width: 90%;
        margin: auto;
    }
    .aoTopo{
        display: none;
    }
    .slick-slide img {
        display: flex;
        margin: 20px auto;
    }
    .botao{
        position: relative;
        margin: auto;
        z-index: 2;
    }
    .botao p{
        margin-right: 15px;
    }
    .nomeProduto{
        margin-bottom: 0;   
    }
    .promocoes h1{
        font-size: 24pt;
    }
    .promocoes p{
        padding-left: 20px;
    font-size: 13pt;
    }
    .slick-prev, .slick-next {
        z-index: -1;
    }
    .fundoCarta {
        width: 20px;
        height: 20px
    }
    .areaEmail span {
        width: 106px;
        height: 31px;
        margin: -7px;
    }
    .areaEmail span p{
        padding: 0;
    }
    .areaEmail {
        width: 270px;
        height: 37px;
        /* margin: 34px auto; */
        margin-bottom: 65px;
    }
    .promocoes input{
        width: 170px;
        margin-left: 0;
        font-size: 13pt;
    }
}